*{
    margin: 0;
    padding: 0;
    list-style: none;
}
header{
    position: sticky;
    background-color: #ccc;
    height: 40px;
    width: 100%;
    top: 0;
    z-index: 5;
}
header a{
    text-decoration: none;
    color: black;
    line-height: 40px;
    font-size: 12px;
    padding: 0 10px;
}
header .left{
    display: flex;
}
header .right{
    display: flex;
}
header ul{
    display: flex;
}
header .wrap{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
header ul li:not(:last-child) a{
    border-right: 1px solid black;
}
.checkout{
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    height: 25px;
    margin-top: 7px;
    margin-left: 10px;
}
.checkout a{
    line-height: 0;
}

main .title{
    display: flex;
    align-items: center;
    gap: 40px;
    width: 1200px;
    margin: 0 auto;
}

.title img{
    width: 25%;
    vertical-align: top;
}

.title img:last-child{
    width: 35%;
    vertical-align: top;
}

main .search{
    width: 40%;
}

.search .bar{
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    border-radius: 30px;
    padding-left:20px;
    height: 30px;
    margin-bottom: 10px;
}

.bar *{
    font-size: 15px;
    line-height: 30px;
}
.bar p{
    color: #999;
}
.bar h1{
    color: white;
    display: inline-block;
    background-color: black;
    padding: 0 40px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.search ul{
    display: flex;
    gap: 10px;
}

.search ul li a{
    text-decoration: none;
    color: red;
    font-size: 10px;
    padding-right: 10px;
}

.title ul li:not(:first-child,:last-child) a{
    border-right: 1px solid red;
}

.scroll{
    margin-top: 50px;
    height: 400px;
    background-color: aquamarine;
    position: relative;
}

.scroll nav{
    display: flex;
    gap: 5px;
    position: absolute;
    right: 150px;
    bottom: 100%;
}

.scroll nav a{
    width: fit-content;
    background-color: #fa0;
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    font-size: 12px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.bigCard{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 360px;
    width: 200px;
    background-color: white;
    border-radius: 15px;
    right: 150px;
    top: 50%;
    transform: translate(0, -50%);
}
.bigCard .title{
    background-color: #ccc;
    width: 100%;
    padding: 10px 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    justify-content: space-between;
}
.bigCard .title > *{
    margin: 0 5px;
}
.title .button{
    display: flex;
    gap: 5px;
    text-align: center;
}
.button p{
    background-color: red;
    color: white;
    width: 20px;
}
.bigCard img{
    width: 200px;
}